.top-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin-top: 1rem;
}

@media (min-width: 550px) {
  .top-items {
      flex-direction: row;
  }

  .button-container {
      margin-top: 0rem;
      margin-left: .5rem;
  }
}