.table-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-background {
    width: 100%;
    background-color: #CFE7D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.table-header {
    width: 100%;
    border-radius: 5rem;
    background-color: #819A83;
    display: flex;
    align-items: center;
}

/*Olá, amige! Antes de mexer nesse arquivo, tenha em mente q 
a responsividade da tabela é sensível e ela é usada em 
muitos lugares
beijos, te amo
gi ;) */

.table-item {
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-buttons {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.item-text {
    width: 100%;
}

p {
    margin: .5rem;
}